
.versus {
  padding: 20px;
}

.left {
  float: left;
  width: 35%;
}

.marg {
  margin-left: 10px;
  margin-right: 10px;
  }

.right {
  margin-left: 50%;
  margin-right: 50px;
}

.padleft {
  padding-left: 100px;
}

.padlefts {
  padding-left: 50px;
}

.b {
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  width: 100%;
}

.b2 {
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  width: 80%;
}

.head {
  padding: 15px;
  margin: 10px;
}

.box {
  border-style: solid;
  border-width: 1px;
  opacity: 1;
  width: 40%;
  font-size: 15px;
}
